<div class="main-toolbar">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">专题广场</a></li>
        <li role="presentation"><a href="#">我的专题</a></li>
        <li role="presentation"><a href="#">我关注的</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="article">
        <div class="avatar">
            <a href="javascript:;"><i class="fa fa-user"></i></a>
        </div>
        <div class="content">
            <div class="title">首页投稿</div>
            <div class="abstract">玩转简书的第一步，从这个专题开始。 想上首页热门榜么？好内容想被更多人看到么？来投稿吧！如果被拒也不要灰心哦～入选文章会进一个队列挨个上首页，请耐心等待。 投稿必须原创。如果发现有非...</div>
            <div class="desc"><a href="javascript:;">70431篇文章</a><span>110.1K人关注 </span></div>
        </div>
        <div class="action">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> | 关注</button>
        </div>
    </div>
    <div class="article">
        <div class="avatar">
            <a href="javascript:;"><i class="fa fa-user"></i></a>
        </div>
        <div class="content">
            <div class="title">首页投稿</div>
            <div class="abstract">玩转简书的第一步，从这个专题开始。 想上首页热门榜么？好内容想被更多人看到么？来投稿吧！如果被拒也不要灰心哦～入选文章会进一个队列挨个上首页，请耐心等待。 投稿必须原创。如果发现有非...</div>
            <div class="desc"><a href="javascript:;">70431篇文章</a><span>110.1K人关注 </span></div>
        </div>
        <div class="action">
            <button class="btn btn-primary"><i class="fa fa-plus"></i> | 关注</button>
        </div>
    </div>
    <div>
        <input type="text" ng-model="vm.article.name"/><button ng-click="vm.addArticle()">添加</button>
    </div>
</div>