@import (less) "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../../bower_components/font-awesome/less/font-awesome.less";
@import "../../common/variables";
@import "../../bower_components/bootstrap/less/theme.less";
.login-pannel{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px @brand-primary solid;
  padding: 10px;
  box-shadow: 2px 2px 2px @brand-primary;
}